.content {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.main-menu li {
    display: inline;
    flex: 0 0 25%;
    max-width: 25%;
}

.main-menu {
    display: flex;
}

.row {
    display: flex;
    margin-top: 60px;
}

.cl-1 {
    width: 40%;
    margin-right: 5%;
}

.cl-2 {
    width: 40%;
    margin-left: 5%;
}

.img {
    width: 100%;
}

.category {
    color: gray;
    text-transform: uppercase;
}

h1 {
    font-weight: 400;
    color: #676767;
    margin: 40px 0;
}

p {
    color: #737272;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
    margin: 30px auto;
    font-size: 15px;
    width: 120px;
    height: 60px;
    border: 1px solid #8e8e8e;
    background: #dedede;
}

.btn-row {
    width: 100%;
    text-align: center;
}