@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.content {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Comic Neue";
}

.main-menu li {
    display: inline;
    width: 25%;
    text-align: center;
}

.main-menu {
    display: flex;
}

.table {
    display: flex;
    margin-top: 60px;
}

.img {
    width: 420px;
    
}

.category {
    color: gray;
    text-transform: uppercase;
}

h1 {
    font-weight: 400;
    color: #676767;
    margin: 40px 0;
}

p {
    color: #737272;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

button {
    margin: 30px auto;
    font-size: 15px;
    width: 120px;
    height: 60px;
    border: 1px solid #8e8e8e;
    background: #dedede;
}

.btn-row {
    width: 100%;
    text-align: center;
}

.table li {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

}

.table {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}